.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header-dark {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgb(2, 3, 10);
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: white;
}